<!DOCTYPE html>
<html>
  <head>
    <title>The Climb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Climb</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/matches"><i class="material-icons left">list</i>Match History</a></li>
          
          <li><a href="/stats"><i class="material-icons right">trending_up</i>Stats</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
